{% extends 'base.html.twig' %}
{% block title %}{{ linktext}}{% endblock %}
{% block body %}
{{nav | raw}} 
 <div id="wrapper">
        <div id="container">
	<form id="editform" method="post" action="edit">
            <div id="welcome">
                <h1>Edit Page (id={{id}})</h1>
               <input type="hidden" name="id" value="{{id}}"></input>
                URL: <input type="text" name="url" value="{{url}}"></input>
               Linktext: <input type="text" name="linktext" value="{{linktext}}"></input>
               Headline: <input type="text" name="headline" value="{{headline}}"></input>
            </div>

            <div id="status">
                <textarea name="maintext">{{ maintext }}</textarea>
            </div>
	
        </div>
	<button>Save</button>
	</form>
    </div>
    
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
	textarea {width:700px;height:300px;}
    }
</style>
{% endblock %}
